<!doctype html>
<html ng-app="incrementalApp" ng-controller="incrementalController">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="incremental.js"></script>
		<title>{{displayedScore}}</title>
	</head>
	<body>
		<p>Score: {{displayedScore}}</p>
		<p>Click value: {{clickValue}}</p>
		<p>Autoclick value: {{autoclickValue}}/s</p>
		<p><button ng-click="click()">Click</button></p>
		<p>
			<button ng-click="upgradeClickValue()">Upgrade click value</button>
			Price: {{clickValueUpgradePrice}}
		</p>
		<p>
			<button ng-click="upgradeAutoclickValue()">Upgrade autoclick value</button>
			Price: {{autoclickValueUpgradePrice}}
		</p>
		<p>
			<button ng-click="save()" title="Autosaves every 30 seconds and onbeforeunload">Save</button>
			<button ng-click="reset()">Reset</button>
		</p>
	</body>
</html>
